.regTitled {
  font-size: 1.8rem;
  letter-spacing: 1px;
  /* font-weight: normal; */
  text-align: left;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 1rem;
}
.nunitoDesc {
  text-align: left;
  margin-bottom: 2rem;
  width: 80%;
}
.nunitoDesc p {
  color: #fff;
  font-weight: lighter;
  font-size: 1.1rem;
  font-family: "Nunito Sans", sans-serif;
}
.resetSubHeading {
  width: 70%;
}
.resetPanelText {
    top: 80%;
}

.resetContainer{
        margin-top: 10rem;
}
.resetButton{
        display: flex;
        justify-content: center;
}